<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Course Setup Wizard</title>
</head>

<body class="rvt-layout">
<div layout:fragment="content">

  <div th:insert="import/wizardSteps.html :: steps(currentStep=4)"></div>

  <div class="rvt-row rvt-p-top-md">
    <div class="rvt-cols-8-md rvt-flow rvt-prose">
      <form id="wizard-form-review" th:action="@{|/app/import/${courseId}/navigate|}" method="post" enctype="multipart/form-data">
        <h2>Review and submit</h2>

        <h3 class="rvt-ts-18 rvt-p-top-sm">
          Import from<br /><span class="rvt-text-regular">[[${selectedCourseLabel}]]</span>
        </h3>

        <dl>
          <th:block th:each="mapEntry : ${reviewValues}">
            <dt th:text="${mapEntry.key}">key</dt>
            <dd th:each="theValue : ${mapEntry.value}" th:text="${theValue}">value</dd>
          </th:block>
        </dl>
        <input type="hidden" name="currentPage" value="6">
        <div th:insert="import/wizardSteps.html :: buttons"></div>
      </form>
    </div>
  </div>
</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>