<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Course Setup Wizard</title>
</head>

<body class="rvt-layout">
<div layout:fragment="content">

  <div th:insert="import/wizardSteps.html :: steps(currentStep=2)"></div>

  <div class="rvt-row rvt-p-top-md">
    <div class="rvt-cols-8-md rvt-flow rvt-prose">
      <form id="wizard-form-content" th:action="@{|/app/import/${courseId}/navigate|}" method="post" enctype="multipart/form-data">
        <fieldset class="rvt-fieldset">
          <legend class="rvt-legend [ rvt-ts-20 rvt-p-bottom-xs ]">
            <h2>Select content</h2>
          </legend>
          <dl>
            <dt>Import from</dt>
            <dd th:text="${selectedCourseLabel}">Course Label</dd>
          </dl>
          <ul class="rvt-list-plain">
            <li>
              <div class="rvt-radio">
                <input type="radio" name="importContentOption" id="radio-1-1"
                       th:value="${T(edu.iu.uits.lms.coursesetupwizard.Constants.CONTENT_OPTION).ALL.name()}">
                <label for="radio-1-1">Import the entire course as is (all content and settings)</label>
              </div>
            </li>
            <li>
              <div class="rvt-radio">
                <input type="radio" name="importContentOption" id="radio-1-2"
                       th:value="${T(edu.iu.uits.lms.coursesetupwizard.Constants.CONTENT_OPTION).SELECT.name()}">
                <label for="radio-1-2">
                  Select specific content to import (after you submit the wizard, you’ll be prompted to select the tools and items you wish to import)
                </label>
              </div>
            </li>
          </ul>
          <div th:insert="fragments.html :: selectAlert"></div>
          <input type="hidden" name="currentPage" value="2">
          <div th:insert="import/wizardSteps.html :: buttons(nextOnclick='return doSubmit();')"></div>
        </fieldset>
      </form>
    </div>
  </div>

</div>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    function doSubmit() {
        var checkedRadio = document.querySelector('input[name="importContentOption"]:checked');
        if (checkedRadio == null) {
            var allRadio = document.getElementsByName("importContentOption");
            allRadio.forEach(btn => {
                btn.setAttribute("aria-invalid", "true");
            })
            alertMessage = document.getElementById('select-alert');
            alertMessage.classList.remove("rvt-display-none");
            allRadio[0].focus();
            return false;
        }
    }
    </script>
</th:block>
</body>
</html>