<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Course Setup Wizard</title>
</head>

<body class="rvt-layout">
<div layout:fragment="content">

  <div th:insert="import/wizardSteps.html :: steps(currentStep=1)"></div>

  <div class="rvt-row rvt-p-top-md">
    <div class="rvt-cols-8-md rvt-flow rvt-prose">
      <form id="wizard-form-course" th:action="@{|/app/import/${courseId}/navigate|}" method="post" enctype="multipart/form-data">
        <h2 class="rvt-ts-23 rvt-p-bottom-xs">Select course</h2>
        <fieldset class="rvt-fieldset">
          <legend class="rvt-legend [ rvt-ts-20 rvt-p-bottom-sm ]">
            Import content from another course into this course.
          </legend>

          <!-- The below container div will dynamically be replaced by a react component with a label and select input -->
          <div id="react_select_container"></div>
          <div th:insert="fragments.html :: selectAlert"></div>
          <input type="hidden" name="currentPage" value="1">

        </fieldset>

        <div th:insert="import/wizardSteps.html :: buttons(nextOnclick='return doSubmit();')"></div>
      </form>
    </div>
  </div>

</div>

<th:block layout:fragment="script">

  <script th:inline="javascript">
  /*<![CDATA[*/
    const courseId = /*[[${courseId}]]*/
    const selectedCourseId = /*[[${selectedCourseId}]]*/
    const customId = /*[[${customId}]]*/
    const csrfHeaderName = /*[[${_csrf.headerName}]]*/
    const csrfValue = /*[[${_csrf.token}]]*/
    /*]]>*/

    function doSubmit() {
        //Select control
        var inputControl = document.querySelector('input[id="course-select-input"]');
        //Hidden input with the actual value
        var inputValue = document.querySelector('input[name="selectedCourseId"]');
        if (inputValue.value == "") {
            inputControl.setAttribute("aria-invalid", "true");
            inputControl.setAttribute("aria-describedby", "option-message");
            alertMessage = document.getElementById('select-alert');
            alertMessage.classList.remove("rvt-display-none");
            inputControl.focus();
            return false;
        }
    }

  </script>
  <script type="text/javascript" th:src="@{/app/jsreact/lms-lti-coursesetupwizard/lms-lti-coursesetupwizard.js}"></script>
</th:block>
</body>
</html>