<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Course Setup Wizard</title>
</head>

<body class="rvt-layout">
<div layout:fragment="content">

  <div th:insert="import/wizardSteps.html :: steps(currentStep=4)"></div>

  <div class="rvt-row rvt-p-top-md">
    <div class="rvt-cols-8-md rvt-flow rvt-prose">
      <form id="wizard-form-submit" th:action="@{|/app/import/${courseId}/navigate|}" method="post" enctype="multipart/form-data">
        <h2>Review and submit</h2>

        <h3 class="rvt-ts-18 rvt-p-top-sm">
          Import from<br /><span class="rvt-text-regular">[[${selectedCourseLabel}]]</span>
        </h3>

        <th:block th:if="${selectedContentOption == T(edu.iu.uits.lms.coursesetupwizard.Constants.CONTENT_OPTION).ALL.name()}">
          <p>
            After you <span class="rvt-text-bold">Submit</span> this form, you will be redirected from this
            wizard to the Import Content page in your course. A progress bar will appear while the import is
            being processed. Once the import is complete, you can begin to update the imported content as needed.
          </p>
        </th:block>
        <th:block th:if="${selectedContentOption == T(edu.iu.uits.lms.coursesetupwizard.Constants.CONTENT_OPTION).SELECT.name()}">
          <p>
            After you <span class="rvt-text-bold">Submit</span> this form, you will be redirected from this
            wizard to the Import Content page in your course. Select the blue
            <span class="rvt-text-bold">Select Content</span> button under Current Jobs to select the
            content you wish to import. Then select the specific tools and/or items you wish to import.
          </p>
          <img th:src="@{/app/images/importScreenShot.png}" alt="screenshot of Canvas's Course Import tool showing the location of the Select Content button on the right side of the screen" />
          <p>
            A progress bar will appear while the import is being processed. Once the import is complete,
            you can begin to update the imported content as needed.
          </p>
        </th:block>
        <p>
          <span class="rvt-text-bold">Note:</span> The home page from the imported course will become the
          new home page in the current course. No home page adjustments should be needed.
        </p>
        <p th:if="${selectedDateOption == T(edu.iu.uits.lms.coursesetupwizard.Constants.DATE_OPTION).REMOVE.name() or selectedDateOption == T(edu.iu.uits.lms.coursesetupwizard.Constants.DATE_OPTION).NOCHANGE.name()}">
          <span class="rvt-text-bold">Tip:</span> For a fast and easy way to review and update
          assignment dates, visit <a href="https://community.canvaslms.com/t5/Instructor-Guide/How-do-I-bulk-update-due-dates-and-availability-dates-as-an/ta-p/1195" target="_blank">How do I bulk update due dates and availability dates as an instructor? <span class="rvt-sr-only">Opens in new window</span><rvt-icon name="link-external"></rvt-icon></a>
        </p>
        <input type="hidden" name="currentPage" value="7">
        <div th:insert="import/wizardSteps.html :: buttons(isSubmit=true)"></div>
      </form>
    </div>
  </div>

</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>