<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Course Setup Wizard</title>
</head>

<body class="rvt-layout">
<div layout:fragment="content">

    <div class="rvt-row rvt-p-top-md">
        <div class="rvt-cols-8-md rvt-flow rvt-prose">
            <h2>Wizard completed</h2>
            <p>
                The Course Setup Wizard has already been completed in this course. See the following guides to
                manually set your course homepage, apply a template, or import content from another source:
            </p>
            <ul class="rvt-list">
                <li><a href="https://community.canvaslms.com/t5/Instructor-Guide/How-do-I-change-the-Course-Home-Page/ta-p/1035" target="_blank">How do I change the Course Home Page? <span class="rvt-sr-only">Opens in new window</span><rvt-icon name="link-external"></rvt-icon></a></li>
                <li><a href="https://kb.iu.edu/d/bgry" target="_blank">Apply a template to your Canvas course <span class="rvt-sr-only">Opens in new window</span><rvt-icon name="link-external"></rvt-icon></a></li>
                <li><a href="https://kb.iu.edu/d/apsm" target="_blank">Apply the IU Course Template to your Canvas course <span class="rvt-sr-only">Opens in new window</span><rvt-icon name="link-external"></rvt-icon></a></li>
                <li><a href="https://community.canvaslms.com/t5/Instructor-Guide/How-do-I-copy-content-from-another-Canvas-course-using-the/ta-p/1012" target="_blank">How do I copy content from another Canvas course using the Course Import tool? <span class="rvt-sr-only">Opens in new window</span><rvt-icon name="link-external"></rvt-icon></a></li>
                <li><a href="https://kb.iu.edu/d/bgjf" target="_blank">Reset your Canvas course content and settings <span class="rvt-sr-only">Opens in new window</span><rvt-icon name="link-external"></rvt-icon></a></li>
            </ul>
        </div>
    </div>

</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>