<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Course Setup Wizard</title>
</head>

<body class="rvt-layout">
<div layout:fragment="content">

    <div class="rvt-row rvt-p-top-md">
        <div class="rvt-cols-8-md rvt-flow rvt-prose">
            <h2>About the Course Setup Wizard</h2>
            <p>
                The Course Setup Wizard has already been completed in this course.  To manually set your course homepage, apply a template, or import content from another course, see the following guides:
            </p>
            <ul class="rvt-list-plain">
                <li>How do I change the Course Home Page?</li>
                <li>Apply a template to your Canvas course</li>
                <li>Apply the IU Course Template to your Canvas course</li>
                <li>How do I copy content from another Canvas course using the Course Import tool?</li>
                <li>Reset your Canvas course content and settings</li>
            </ul>
        </div>
    </div>

</div>

<th:block layout:fragment="script">

</th:block>
</body>
</html>