<!DOCTYPE html>

<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Course Setup Wizard - Select theme</title>
</head>

<body class="rvt-layout">
<div layout:fragment="content">

    <div th:insert="theme/wizardSteps.html :: steps(currentStep=2)"></div>

    <div class="rvt-row rvt-p-top-md">
        <div class="rvt-cols-8-md rvt-flow rvt-prose">
            <h2 id="page-title">Select theme</h2>
            <form id="wizard-theme-form-submit" th:object="${themeForm}" th:action="@{|/app/theme/${courseId}/navigate|}" method="post" enctype="multipart/form-data">
                <p>
                    The theme controls the look and feel of the banner, headings, navigation menu, and
                    formatting on each page. To apply a theme to your course, choose the desired option and select
                    <span class="rvt-text-bold">Next</span>.
                </p>
                <!-- radio list for theme options -->
                <fieldset class="rvt-fieldset">
                    <legend>Theme options</legend>
                    <ul id="image-ul" class="rvt-list-plain">
                        <th:block th:if="${themes != null}" th:each="theme : ${themes}">
                            <li class="rvt-border-all rvt-border-radius-md rvt-p-all-xs rvt-m-bottom-xxs radio-card--clickable">
                                <div class="rvt-radio">
                                    <input type="radio" th:id="'theme-radio-' + ${theme.id}" th:field="*{themeId}"
                                           th:value="${theme.id}" th:aria-describedby="'someuniqueid' + ${theme.id}">
                                    <label th:for="'theme-radio-' + ${theme.id}" th:text="${theme.uiName}"></label>
                                    <img th:id="'someuniqueid' + ${theme.id}" th:src="${theme.imageUrl}" class="rvt-m-top-sm"
                                         th:alt="${theme.altText}" />
                                </div>
                            </li>
                        </th:block>
                    </ul>
                    <div th:insert="fragments.html :: selectAlert"></div>
                </fieldset>
                <input type="hidden" name="currentPage" value="2">
                <div th:insert="theme/wizardSteps.html :: buttons(nextOnclick='selectThemeSubmit(this);')"></div>
            </form>
        </div>
    </div>
</div>

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/app/js/theme/selectTheme.js}"></script>
</th:block>
</body>
</html>