<!DOCTYPE html>

<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Course Setup Wizard - Select banner</title>
</head>

<body class="rvt-layout">
<div layout:fragment="content">

    <div th:insert="theme/wizardSteps.html :: steps(currentStep=3)"></div>

    <div class="rvt-row rvt-p-top-md">
        <div class="rvt-cols-8-md rvt-flow rvt-prose">
            <h2 id="page-title">Select banner</h2>
            <form id="wizard-theme-form-submit" th:object="${themeForm}" th:action="@{|/app/theme/${courseId}/navigate|}" method="post" enctype="multipart/form-data">
                <p>
                    Your course home page may include a banner image. If you do not want a banner image on your course
                    home page, select No, then choose <span class="rvt-text-bold">Next</span>. If you do want a banner
                    image, choose a category to browse images. Select the image you want to use and then choose
                    <span class="rvt-text-bold">Next</span>.
                </p>
                <p>
                    <span class="rvt-text-bold">Note:</span> You may replace the banner image with something from Adobe
                    Stock or another source by editing the course home page. Review the Next Steps document in this
                    course, contact your Campus Teaching and Learning Center, or the ID Clinic for more details.
                </p>
                <fieldset class="rvt-fieldset">
                    <legend>Do you want to include a banner image?</legend>
                    <ul class="rvt-list-plain">
                        <li>
                            <div class="rvt-radio">
                                <input type="radio" th:field="*{includeBannerImage}" id="include-banner-image-radio-yes" value="true">
                                <label for="include-banner-image-radio-yes">Yes</label>
                            </div>
                        </li>
                        <li>
                            <div class="rvt-radio">
                                <input type="radio" th:field="*{includeBannerImage}" id="include-banner-image-radio-no" value="false">
                                <label for="include-banner-image-radio-no">No</label>
                            </div>
                        </li>
                    </ul>
                </fieldset>
                <!-- wrapper just to make hide/show of this content easier to control -->
                <div id="banner-wrapper">
                    <input type="hidden" id="banner-image-id" th:field="*{bannerImageId}" />
                    <!-- likely alphabetizing this -->
                    <label for="select-input-categories" class="rvt-label rvt-m-top-md rvt-ts-16">Image categories</label>
                    <select id="select-input-categories" class="rvt-select rvt-m-bottom-md" th:field="*{bannerImageCategoryId}">
                        <option th:each="bannerImageCategory : ${bannerImageCategories}" th:value="${bannerImageCategory.id}"
                                th:text="${bannerImageCategory.name}">Category</option>
                    </select>
                    <!-- radio list for banner options, dynamically rendered based on select component above -->
                    <fieldset class="rvt-fieldset">
                        <legend th:text="'Image options for ' + ${bannerImageCategories.get(0).name}"></legend>
                        <!-- ul will be filled by javascript on pulldown change -->
                        <ul id="image-ul" class="rvt-list-plain">
                        </ul>
                        <div th:insert="fragments.html :: selectAlert"></div>
                    </fieldset>
                </div>
                <input type="hidden" name="currentPage" value="3">
                <div th:insert="theme/wizardSteps.html :: buttons(nextOnclick='return doSubmit();')"></div>
            </form>
        </div>
    </div>

</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/
            const courseId = /*[[${courseId}]]*/
            const selectedCourseId = /*[[${selectedCourseId}]]*/
            var courses = /*[[${courses}]]*/;
            window.config = {courses: courses};
        /*]]>*/

        function doSubmit() {
            let yesBannerImage = document.querySelector('#include-banner-image-radio-yes:checked');

            console.log("yesBannerImage.length = " + yesBannerImage.length);

            if (yesBannerImage != null) {
                let checkedRadio = document.querySelector('input[type=radio][name=banner-image-radio-group]:checked');
                if (checkedRadio != null) {
                    let bannerImageId = checkedRadio.value;
                    $('#banner-image-id').val(bannerImageId);
                } else {
                    let allRadio = document.getElementsByName("banner-image-radio-group");
                    allRadio.forEach(btn => {
                        btn.setAttribute("aria-describedby", "option-message");
                    });
                    alertMessage = document.getElementById('select-alert');
                    alertMessage.classList.remove("rvt-display-none");
                    allRadio[0].focus();
                    return false;
                }
            }
        }

        function loadBannerImagesForSelectedCategory() {
            let categoryId = $('#select-input-categories').val();
            $('#image-ul').load('/app/theme/' + courseId + '/bannerimage/' + categoryId ,  function() {
                let bannerImageId = $('#banner-image-id').val();

                if (bannerImageId != '') {
                    let radioThing = $('input[type=radio][name=banner-image-radio-group]');
                    radioThing.each(function() {
                        if (bannerImageId == $(this).val()) {
                            $(this).prop('checked', true);
                        }
                    });
                }
            });
        }

        $(document).ready(function() {
            // determine if additional fields display or not
            $('input[name=includeBannerImage]').on('change', function() {
                if ( this.value == 'true') {
                    $("#banner-wrapper").removeClass('rvt-display-none');
                } else {
                    $("#banner-wrapper").addClass('rvt-display-none');
                    $('#banner-image-id').val('');
                    $('input[type="radio"][name=banner-image-radio-group]:checked').prop('checked', false);
                }
            });

            $('#select-input-categories').change(function() {
                loadBannerImagesForSelectedCategory();
            });

            if ($('#include-banner-image-radio-yes').is(':checked')) {
                $("#banner-wrapper").removeClass('rvt-display-none');
            } else {
                $("#banner-wrapper").addClass('rvt-display-none');
                $('#banner-image-id').val('');
                $('input[type="radio"][name=banner-image-radio-group]:checked').prop('checked', false);
            }

            loadBannerImagesForSelectedCategory();
        });

    </script>
    <script type="text/javascript" th:src="@{/app/jsreact/lms-lti-coursesetupwizard/lms-lti-coursesetupwizard.js}"></script>
</th:block>
</body>
</html>
