<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="steps">
    <nav>
        <ol class="rvt-steps rvt-p-bottom-md rvt-cols-8-md">
            <li class="rvt-steps__item" th:each="item,itemStat : ${themeSteps}">
                <th:block th:with="activeLink=${itemStat.index < currentStep},isCurrentIndicator=${currentStep == (itemStat.index+1)} ? 'step'">
                    <span th:unless="${activeLink}" class="rvt-steps__item-content" th:aria-current="${isCurrentIndicator}">
                        <span class="rvt-steps__label" th:text="${item.name}">Step name</span>
                        <span class="rvt-sr-only sr-spacing"> Step </span>
                        <span class="rvt-steps__indicator" th:text="${itemStat.index+1}">Step number</span>
                    </span>
                    <a th:if="${activeLink}" th:href="${item.link}" class="rvt-steps__item-content" th:aria-current="${isCurrentIndicator}">
                        <span class="rvt-steps__label" th:text="${item.name}">Step name</span>
                        <span class="rvt-sr-only sr-spacing"> Step </span>
                        <span class="rvt-steps__indicator" th:text="${itemStat.index+1}">Step number</span>
                    </a>
                </th:block>
            </li>
        </ol>
    </nav>
</div>

<div th:fragment="buttons">
    <div class="rvt-button-group [ rvt-m-top-xl ]">
        <button class="rvt-button rvt-button--secondary loading-btn" name="action" id="step-back"
                th:value="${T(edu.iu.uits.lms.coursesetupwizard.Constants).ACTION_BACK}">
            <span th:replace="fragments.html :: loadingButton(buttonText='Back', srText='Loading previous step')"></span>
        </button>
        <button th:unless="${isSubmit}" id="step-next" class="rvt-button" name="action" th:attr="onclick=${nextOnclick != null} ? |${nextOnclick}| : 'applyLoadingButton(this,true);'"
                th:value="${T(edu.iu.uits.lms.coursesetupwizard.Constants).ACTION_NEXT}">
            <span th:replace="fragments.html :: loadingButton(buttonText='Next', srText='Loading next step')"></span>
        </button>
        <button th:if="${isSubmit}" id="step-submit" class="rvt-button loading-btn" name="action"
                th:value="${T(edu.iu.uits.lms.coursesetupwizard.Constants).ACTION_SUBMIT}">
            <span th:replace="fragments.html :: loadingButton(buttonText='Submit', srText='Submitting your selections')"></span>
        </button>
    </div>
    <div class="[ rvt-m-top-xl ]">
        <button id="step-restart" class="rvt-button rvt-button--secondary loading-btn" name="action"
                th:value="${T(edu.iu.uits.lms.coursesetupwizard.Constants).ACTION_HOME}">
            <span th:replace="fragments.html :: loadingButton(buttonText='Restart Wizard', srText='Restarting wizard')"></span>
        </button>
    </div>
</div>

</body>

</html>
